.link {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--theme-color);
  background-color: var(--theme-bg-color);
}
@container html style(--has-animation: yes) {
  .link {
    transition: transform .3s linear;
  }

  .link:hover,
  .link:focus {
    transform: scale(1.12);
  }
}

.image {
  height: auto;
  aspect-ratio: 1/1;
  width: clamp(120px, 45%, 150px);
}

.description {
  margin: 10px;
  max-width: 55%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  overflow-wrap: break-word;
}