.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  flex: 1 0 auto;
  display: flex;
  padding: var(--main-gap);
  box-sizing: border-box;
  flex-direction: column;
}

.content {
  gap: var(--main-gap);
  display: flex;
  flex-wrap: wrap;
}

.contentImage {
  height: auto;
  aspect-ratio: 1/1;
  align-self: flex-start;
  width: clamp(200px, 33%, 300px);
}

.contentDescription {
  overflow: hidden;
  flex: 1 0 min(100%, 400px);
}

.errorTitle {
  margin: auto;
  transform: scale(3);
}