.wrapper {
  display: flex;
  padding: var(--main-gap);
  align-items: center;
  justify-content: center;
  background-color: var(--header-bg-color);
}

.nav {
  display: flex;
}

.link {
  padding: 15px 20px;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.active {
  color: var(--theme-color);
  background-color: var(--header-active-bg);
}